 *{  
       text-align: center;
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a{
        text-decoration: none;
    }
    .title{
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }
      .title h1{
          padding: 10px;
          font-family: Sans-Serif;
          font-size: 50px;
          text-align: center;
          background: linear-gradient(90deg,red, blue,orange);
          -webkit-text-fill-color:transparent;
          -webkit-background-clip:text;
      }
      
      main h2{
          padding: 170px 0;
      }
      
      .footer{
          background: #1F2233;
          color: white;
          text-align: center;
          line-height: 30px;
      }
      
      .footer p{
          color: #FD5C55;
      }
      
      .footer .fab{
          padding: 7px;
      }
      
      .footer a{
          color:white;
      }
      
      .footer .copyrights{
          color: white;
      }